body {
    margin: 0;
    padding: 0;
    background: url(pic1.jpg);
    background-size:cover;
    background-position:center;
    font-family:sans-serif;
}

.loginbox{
    width: 320px;
    height: 450px;
    background: #fff;
    color: #000;
    top:50%;
    left:50%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px; 
    
}

.logo{
    width:100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1{
    margin: 0;
    padding: 0 0 20px ;
    text-align:  center;
    font-size: 22px;
    
}

.loginbox p{
    
    margin: 0;
    padding: 0;
    font-weight: bold;
    
}

.data_entry p {
     margin: 0;
    padding: 0;
    font-weight: bold;
    
}

.loginbox input{
    
    width: 100%;
    margin-bottom: 20px;
}

.data_entry input{
    width: 100%;
    margin-bottom: 20px;
}

.data_entry input[type="text"]{
     border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
    
}

.data_entry button[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    
}

.data_entry button[type="submit"]:hover
{
    cursor: pointer;
    background:#87cdff;
    Color: #000;

}
.loginbox input[type="text"], input[type="password"]{
    
    border: none;
    border-bottom: 1px solid #000;
    background: transparent;
    outline: none;
    height: 40px;
    color: #000;
    font-size: 16px;
    
}

.loginbox button[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    
}

.loginbox button[type="submit"]:hover
{
    cursor: pointer;
    background:#87cdff;
    Color: #000;

    
}

.loginbox a{
    text-decoration: none;
    font-size: 12px;    
    line-height: 20px;
    color: black;
    
    
}
.loginbox a:hover{

    Color: #87cdff;
}
.data_entry {
     margin-left: 330px;
    margin-top: 20px;
    width: 70%;
    height: 74%;
    text-align: center;
    background: white;
    border-collapse: collapse;
}
table{
   
    margin-top: 20px;
    width:100%;
    height: 74%;
    text-align: center;
    background: white;
    border-collapse: collapse;

}
.db {margin-top: 20px;
    width:100%;
    height: 74%;
    text-align: center;
    background: white;
    border-collapse: collapse;
}
.scroll {
     margin-left: 330px;
    margin-top: 20px;
    width: 70%;
    height: 74%;
        overflow: scroll;
}
table,tr,th,td{
    
    padding: 15px;
    border: 1px solid black;
    
    
}

.tabs{
     width: 250px;
    height: 459px;
    background: #fff;
    color: #000;
    top:62%;
    left:15%;
    position:absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px; 
    border-radius: 20px;
    
}

.tabs img{
    
    width: 50px;
    height; 50px;    
}


.tabs input[type="button"]{
      border: none;
    outline: none;
    height: 30px;
    width: 100px;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
.tabs input[type="button"]:hover{
     cursor: pointer;
    background:#87cdff;
    Color: #000;

}

input[type="button"]{
      border: none;
    outline: none;
    height: 30px;
    width: 200px;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
input[type="button"]:hover{
     cursor: pointer;
    background:#87cdff;
    Color: #000;

}

input[type="submit"]{
      border: none;
    outline: none;
    height: 30px;
    width: 100px;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
}
input[type="submit"]:hover{
     cursor: pointer;
    background:#87cdff;
    Color: #000;

}

.table1{
     border: none;
    outline: none;
    height: 30px;
    width: 100px;
    background: #000;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: -20px;
}
.table1:hover{
     cursor: pointer;
    background:#87cdff;
    Color: #000;

}
.table{
      border: 1px solid black;
    outline: none;
   margin-left: 7%;
    height: 30px;
    width: 200px;
    background: #fff;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
    margin-top: -20px;
}

